USE [LamsDbTadi]
GO
/****** Object:  StoredProcedure [dbo].[spProcessDailyReq]    Script Date: 7/11/2026 10:57:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcessDailyReq]
	@startdate datetime,
	@enddate datetime,
	@processedby varchar(50),
	@processedCostSheets int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @ReqNo varchar(10)
	declare @workerId varchar(10)
	--declare @subStaffId int

	declare @dleCompanyId int
	declare @vesselId int
	declare @locationId int
	declare @reportingPointId int 
	declare @cargoId int
	declare @gangId int
	declare @job varchar(50)
	declare @date datetime
	declare @normal float
	declare @overtime float
	declare @weekend bit
	declare @shiftType varchar(10)
	declare @night bit
	declare @approved bit
	declare @adate datetime
	declare @preparedby varchar(50)
	declare @approvedby varchar(50)
	declare @onboardallowance bit

	declare @tradegroupId int
	declare @transport char
	declare @dbWage float
	declare @dbWageWkend float
	declare @dbWageHday float
	declare @hrOtimeWkday float
	declare @hrOtimeWkend float
	declare @hrOtimeHday float
	declare @naWkday float
	declare @naWkend float
	declare @naHday float
	declare @shiftAllowance float
	declare @transportRate_Amt float
	declare @dbWageDLE float
	declare @dbWageWkendDLE float
	declare @hrOtimeWkdayDLE float
	declare @hrOtimeWkendDLE float
	declare @naWkdayDLE float
	declare @naWkendDLE float
	declare @subsidy float
	declare @ppeMedical float
	declare @bussing float
	declare @age int
	declare @ezwich varchar(50)
	declare @tax bit
	declare @chargePremium bit

	--payroll setup --
	declare @uniondues float
	declare @welfare float
	declare @medicals float
	declare @ssfEmployee float
	declare @ssfEmployer float
	declare @pfEmployee float
	declare @pfEmployer float
	declare @annualbonus float
	declare @annualleave float
	declare @premShareholder float
	declare @premNonShareholder float
	declare @premWithoutTT float
	declare @taxOnbonus float
	declare @taxOnbasic float
	declare @taxOnovertime float
	declare @taxOnPF float
	declare @taxOntransport float
	declare @onboardallowanceAmt float
	declare @vat float
	declare @getfund float
	declare @nhil float
	declare @taxOnNight float

	declare @dleCompanyStatus varchar(50)
	
	declare @batchNo int
	declare @approvedWeekend varchar(7)
	declare @approvedNight varchar(5)
	declare @approvedOnboardAllowanceAmt float
	declare @basicRate float
	declare @overtimeRate float
	declare @nightRate float
	declare @basicRateDLE float
	declare @overtimeRateDLE float
	declare @nightRateDLE float
	declare @bankId int
	declare @bankBranchId int
	declare @bankBranch varchar(50)
	declare @bankNumber varchar(30)
	declare @WorkerType char(1)
	declare @paymentOption varchar(10)

	declare @netTotal float = 0.00
	declare @rptBasic float
	declare @rptOvertime float
	declare @rptNight float
	declare @rptShiftAllowance float
	declare @rptTransport float
	declare @rptPFee float
	declare @rptSSFee float
	declare @rptTaxBasic float
	declare @rptTaxOvertime float
	declare @rptTaxNight float
	declare @rptTaxPF float
	declare @rptTaxTransport float
	declare @rptGross float
	declare @rptTaxBonusLeave float

	declare @rptPFer float
	declare @rptSSFer float
	declare @rptLeave float
	declare @rptBonus float
	declare @rptPremium float
	declare @rptGetFund float
	declare @rptNHIL float
	--declare @rptGetFund_NHIL float
	--declare @rptPremium_GetFund_NHIL float
	--declare @rptTransport_Others float
	--declare @rptContribution float
	declare @rptVat float

	set @processedCostSheets = 0

	set @batchNo = (select ISNULL(max(AutoNum),0) from tblApproveDaily)
	set @batchNo = @batchNo + 1

	-- get approved cost sheets within selected date range --
	select ReqNo into #costsheets from tblStaffReq where Processed = 0 and Approved=1 and (Adate between @startdate and @enddate)
	select @ReqNo = MIN(ReqNo) from #costsheets 
	-- loop through requisition numbers (Cost Sheet)
	while @ReqNo is not null
	begin
		--get Requisition details --
		select @dleCompanyId=DLEcodeCompanyID,@vesselId=VesselberthID,@locationId=locationID,@reportingPointId=ReportpointID,
			@cargoId=cargoID,@gangId=gangID,@job=job,@date=date_,@normal=Normal,@overtime=Overtime,@weekend=Weekends,
			@night=Night,@approved=Approved,@adate=Adate,@preparedby=Preparedby,@approvedby=Approvedby,
			@onboardallowance=OnBoardAllowance,@shiftType=ShiftType from tblStaffReq where ReqNo=@ReqNo

		-- begin get payroll setting --
		select @uniondues=UnionDues,@welfare=Welfare,@medicals=Medicals,@ssfEmployee=SSFemployee,@ssfEmployer=SSFemployer,@pfEmployee=ProvidentFundEmployee,
		@pfEmployer=ProvidentFundEmployer,@annualbonus=AnnualBonus,@annualleave=AnnualLeave,@premShareholder=PremiumShareHolder,
		@premNonShareholder=PremiumNonShareHolder,@premWithoutTT=PremiumWithoutTT,@taxOnbonus=TaxOnBonus,@taxOnbasic=TaxOnBasic,
		@taxOnovertime=TaxOnOvertime,@taxOnPF=TaxOnProvidentFund,@taxOntransport=TaxOnTransport,
		@onboardallowanceAmt=OnBoardAllowance,@vat=Vat,@getfund=GetFund,@nhil=NHIL,@taxOnNight=TaxOnNight from tblPayrollSetup where EffectiveDate <= @adate and (EndDate >= @adate or EndDate is null)
		-- end get payroll setting --

			-- override @premiumWithoutTT from Payroll Setup with specfic DLE premium --
			select @dleCompanyStatus=Pattern, @premWithoutTT=SharePerc from tblDLECompany where DLEcodeCompanyID=@dleCompanyId

			if (@weekend = 1)
				set @approvedWeekend='Weekend'
			else 
				set @approvedWeekend=''

			if (@night = 1)
				set @approvedNight = 'Night'
			else
				set @approvedNight = ''

			if (@onboardallowance = 1)
				set @approvedOnboardAllowanceAmt = @onboardallowanceAmt
			else 
				set @approvedOnboardAllowanceAmt = 0

		-- get workers on requisition --
		--select @subStaffId = min(AutoId) from tblSubStaffReq where ReqNo = @ReqNo and Normal > 0
		select WorkerID into #workers from tblSubStaffReq where ReqNo = @ReqNo and Normal > 0
		select @workerId = min(WorkerId) from #workers
		-- loop through workers --
		while @workerId is not null
		begin
			-- get Worker Id --
			--select @workerId=WorkerId from tblSubStaffReq where AutoId=@subStaffId

			-- get Worker's tradegroup settings --
			select @normal=Normal, @overtime=Overtime, @tradegroupId=TradegroupID,@transport=transport,@dbWage=DBWage,@dbWageWkend=DBWageWkend,@dbWageHday=DBWageHday,
			@hrOtimeWkday=HourOtimeWkday,@hrOtimeWkend=HourOtimeWkend,@hrOtimeHday=HourOtimeHday,@naWkday=NAWkday,@naWkend=NAWkend,@naHday=NAHday,
			@shiftAllowance=ShiftAllowance,@transportRate_Amt=TransportRate_Amt,@dbWageDLE=DBWageDLE,@dbWageWkendDLE=DBWageWkendDLE,
			@hrOtimeWkdayDLE=HourOtimeWkdayDLE,@hrOtimeWkendDLE=HourOtimeWkendDLE,@naWkdayDLE=NAWkdayDLE,
			@naWkendDLE=NAWkendDLE,@subsidy=Subsidy,@ppeMedical=PPEMedical,@bussing=Bussing,@age=Age,
			@ezwich=ezwichid,@tax=Tax,@chargePremium=ChargePremium,@bankId=BankID,@bankBranchId=BankBranchId,@bankBranch=BankBranch,
			@bankNumber=BankNumber,@WorkerType=WorkerType,@paymentOption=PaymentOption from vwSubStaffReqGangRates where ReqNo=@ReqNo and WorkerID=@workerId and EffectiveDate <= @adate and (EndDate >= @adate or EndDate is null)

			if (@shiftType='Shift 80%') --weekday--
			begin
				set @basicRate = @dbWageWkend
				set @overtimeRate = @hrOtimeWkend
				set @nightRate = @naWkend

				set @basicRateDLE = @dbWageWkendDLE
				set @overtimeRateDLE = @hrOtimeWkendDLE
				set @nightRateDLE = @naWkendDLE
			end
			else if (@shiftType='Shift 100%') 
			begin
				set @basicRate = @dbWageHday
				set @overtimeRate = @hrOtimeHday
				set @nightRate = @naHday

				set @basicRateDLE = @dbWageHday
				set @overtimeRateDLE = @hrOtimeHday
				set @nightRateDLE = @naHday
			end
			else if (@shiftType='Non-Shift') 
			begin
				set @basicRate = @dbWage
				set @overtimeRate = @hrOtimeWkday
				set @nightRate = @naWkday
				
				set @basicRateDLE = @dbWageDLE
				set @overtimeRateDLE = @hrOtimeWkdayDLE
				set @nightRateDLE = @naWkdayDLE

				set @shiftAllowance = 0    -- no shift allowance for non-shift 
			end

			-- begin calculate net total --
			--set @netTotal = 0
			set @rptBasic = @basicRate * (@normal / 8)
			if (@approvedWeekend = 'Weekend')
				set @rptOvertime = @overtimeRate
			else
				set @rptOvertime = @overtimeRate
			if (@approvedNight = 'Night')
				set @rptNight = @nightRate
			else
				set @rptNight = 0
			
			set @rptShiftAllowance = @shiftAllowance

			if (@transport = '*')
				set @rptTransport = @transportRate_Amt + @approvedOnboardAllowanceAmt
			else
				set @rptTransport = 0
			set @rptPFee = @pfEmployee * @rptBasic
			if (@age < 60)
				set @rptSSFee = @ssfEmployee * @rptBasic
			else
				set @rptSSFee = 0
			set @rptTaxBasic = (@rptBasic - @rptSSFee) * @taxOnbasic
			set @rptTaxOvertime = @rptOvertime * @taxOnovertime
			set @rptTaxNight = @rptNight * @taxOnNight
			set @rptTaxPF = (@pfEmployer * @rptBasic) * @taxOnPF
			set @rptTaxTransport = @rptTransport * @taxOntransport
			set @rptGross = @rptBasic + @rptOvertime + @rptNight + @rptShiftAllowance + @rptTransport
			set @netTotal = @rptGross - (@welfare + @uniondues + @medicals + @rptPFee + @rptSSFee + @rptTaxBasic + @rptTaxOvertime + @rptTaxNight + @rptTaxPF + @rptTaxTransport)
			-- end calculate net total --

			-- begin calculate invoice --
			set @rptPFer = @pfEmployer * @rptBasic
			if (@age < 60)
				set @rptSSFer = @ssfEmployer * @rptBasic
			else
				set @rptSSFer = 0
			set @rptLeave = @annualleave * @rptBasic
			set @rptBonus = @annualbonus * @rptBasic
			set @rptPremium = @premWithoutTT * @rptBasic
			set @rptGetFund = @rptPremium * @getfund
			set @rptNHIL = @rptPremium * @nhil
			--set @rptGetFund_NHIL = @rptPremium * (@getfund + @nhil)
			--set @rptPremium_GetFund_NHIL = @rptPremium + @rptGetFund_NHIL
			set @rptVat = @rptPremium * @vat
			--if (@dleCompanyStatus in ('Share Holder','Non Share Holder'))
			--	set @rptTransport_Others = @rptTransport + @ppeMedical + @bussing
			--else
			--	set @rptTransport_Others = @rptTransport + @ppeMedical
			set @rptTaxBonusLeave = @taxOnbonus * (@rptBonus + @rptLeave)
			-- end calculate invoice --

			-- begin loan processing --
			declare @loanNo varchar(20) = null
			declare @repayAmount float
			declare @totRepayAmount float = 0.0
			declare @loanBalance float

			declare @monthlyLimit float
			declare @monthlyRepaid float
			declare @monthlyBalance float

			declare @noOfLoans int
			declare @totExpRepayAmount float
			select @noOfLoans = isnull(count(LoanNo),0), @totExpRepayAmount = isnull(sum(RepayAmount),0.0) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate
			if (@noOfLoans > 0)
			begin
				select @loanNo = min(LoanNo) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate
				while @loanNo is not null
				begin
					select @repayAmount = isnull(RepayAmount,0.0), @loanBalance = isnull(LoanBalance,0.0), @monthlyLimit = isnull(MonthlyLimit,0.0) from tblLoans where LoanNo = @loanNo
					select @monthlyRepaid = isnull(sum(RepayAmount),0.0) from tblLoanRepayments where LoanNo = @loanNo and month(ApprovedDate) = month(@adate) and year(ApprovedDate) = year(@adate) and Approved = 1
					
					if (@monthlyLimit > 0) -- monthly limit is set
					begin
						set @monthlyBalance = @monthlyLimit - @monthlyRepaid
						if (@totExpRepayAmount > @netTotal)
							set @repayAmount = floor(@netTotal) / @noOfLoans
						if (@loanBalance <= @repayAmount and @loanBalance <= @monthlyBalance)
							set @repayAmount = @loanBalance
						else if (@monthlyBalance <= @repayAmount and @monthlyBalance > 0)
							set @repayAmount = @monthlyBalance
						else if (@monthlyBalance <= 0.0)
							set @repayAmount = 0.0
					end
					else	-- monthly limit is NOT set
					begin
						if (@totExpRepayAmount > @netTotal)
							set @repayAmount = floor(@netTotal) / @noOfLoans
						if (@loanBalance <= @repayAmount)
								set @repayAmount = @loanBalance
					end
					
					if (@repayAmount > 0)
					begin
						insert into tblLoanRepayments(LoanNo,WorkerId,RepayDate,RepayAmount,ReqNo,CreatedBy,Approved,ApprovedDate,ApprovedBy) 
						values (@loanNo,@workerId,@adate,@repayAmount,@ReqNo,@processedby,1,@adate,@processedby)
						set @totRepayAmount = @totRepayAmount + @repayAmount
					end
						
					--next loan--
					select @loanNo = min(LoanNo) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate and LoanNo > @loanNo
				end
			end				
			--end loan processing --

			set @netTotal = @netTotal - @totRepayAmount

			-- process Cost Sheet --
			INSERT INTO tblApproveDaily
                         (AutoNum, ReqNo, DLEcodeCompanyID, VesselberthID, locationID, ReportpointID, cargoID, gangID, job, date_, Normal, Overtime, Weekends, Night, Approved, Adate, Preparedby, Approvedby, Processed, 
                         Processedby, WorkerID, TradegroupID, transport, Subsidy, PPEMedical, Bussing, UnionDues, Welfare, Medicals, SSFemployee, SSFemployer, ProvidentFundEmployee, ProvidentFundEmployer, AnnualBonus, 
                         AnnualLeave, PremiumShareHolder, PremiumNonShareHolder, PremiumWithoutTT, TaxOnBonus, TaxOnBasic, TaxOnOvertime, TaxOnProvidentFund, BasicRate, OvertimeRate, NightRate, BasicRateDLE, 
                         OvertimeRateDLE, NightRateDLE, PresentAge, ProcessedDate, StartDate, EndDate, TaxOnTransport, DLEcompanyStatus, TransportAmount, BankID, BankBranch, BankNumber, OnBoardAllowance, NetTotal, 
                         ezwichid, Vat, GetFund, NHIL, UnionLoan, WorkerType, BankBranchId, PaymentOption, ShiftAllowance, ShiftType, TaxOnNight)
			VALUES        (@batchNo, @ReqNo, @dleCompanyId, @vesselId, @locationId, @reportingPointId, @cargoId, @gangId, @job, @date, @normal, @overtime, @approvedWeekend, @approvedNight, @approved, @adate, @preparedby, @approvedby, 1,
						@processedby, @workerId, @tradegroupId, @transport, @subsidy, @ppeMedical, @bussing, @uniondues, @welfare, @medicals, @rptSSFee, @rptSSFer, @rptPFee, @rptPFer, @rptBonus, 
						@rptLeave, @premShareholder, @premNonShareholder, @premWithoutTT, @rptTaxBonusLeave, @rptTaxBasic, @rptTaxOvertime, @rptTaxPF, @rptBasic, @rptOvertime, @rptNight, @basicRateDLE, 
						@overtimeRateDLE, @nightRateDLE, @age, getutcdate(), @startdate, @enddate, @rptTaxTransport, @dleCompanyStatus, @rptTransport, @bankId, @bankBranch, @bankNumber, @approvedOnboardAllowanceAmt, @netTotal,
						@ezwich, @rptVat, @rptGetFund, @rptNHIL, @totRepayAmount, @WorkerType, @bankBranchId, @paymentOption, @shiftAllowance, @shiftType, @rptTaxNight)

			-- next worker --
			--select @subStaffId = min(AutoId) from tblSubStaffReq where ReqNo = @ReqNo and Normal > 0 and  AutoId > @subStaffId
			select @workerId = min(WorkerId) from #workers where WorkerID > @workerId
		end

		drop table #workers

		-- update Cost Sheet Status --
		update tblStaffReq set Processed = 1, Processedby = @processedby where ReqNo = @ReqNo

		set @processedCostSheets = @processedCostSheets + 1 -- count processed cost sheets --

		--next reqno (Cost Sheet)
		select @ReqNo = MIN(ReqNo) from #costsheets where ReqNo > @ReqNo
	end

	drop table #costsheets

	-- save audit trail
	if (@processedCostSheets > 0)
	begin
		declare @actiondate datetime
		declare @actiondescription varchar(100)
		set @actiondate = getdate()
		set @actiondescription = 'PROCESS DAILY PAYROLL ' + convert(varchar(10),@startdate,103) + ' to ' + convert(varchar(10),@enddate,103)
		exec spAddAuditTrail @actiondate=@actiondate, @actionby=@processedby, @actiondescription=@actiondescription, @actionid=@batchNo
	end
END
GO
/****** Object:  StoredProcedure [dbo].[spProcessMonthlyReq]    Script Date: 7/11/2026 10:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcessMonthlyReq]
	@startdate datetime,
	@enddate datetime,
	@processedby varchar(50),
	@processedCostSheets int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @ReqNo varchar(10)
	declare @dleCompanyId int
	declare @workerId varchar(10)
	declare @tradegroupId int
	declare @tradetypeId int
	declare @reportingPointId int 
	declare @locationId int
	declare @job varchar(50)
	declare @date datetime
	declare @adate datetime
	declare @preparedby varchar(50)
	declare @approved bit
	declare @approvedby varchar(50)

	declare @DWkday int
	declare @DWkend int
	declare @DTotal int
	declare @HRWkday float
	declare @HRWkend float
	declare @NWkday int
	declare @NWkend int
	declare @Yyyymm varchar(6)
	declare @PeriodStart datetime
	declare @PeriodEnd datetime
	declare @transport char

	declare @dbWage float
	declare @hrOtimeWkday float
	declare @hrOtimeWkend float
	declare @transportRate_Amt float
	declare @dbWageDLE float
	declare @hrOtimeWkdayDLE float
	declare @hrOtimeWkendDLE float
	declare @subsidy float
	declare @ppeMedical float
	declare @bussing float
	declare @bankId int
	declare @bankBranchId int
	declare @bankNumber varchar(30)
	declare @tax bit
	declare @chargePremium bit
	declare @ezwich varchar(50)
	declare @age int
	declare @paymentOption varchar(10)
		
	--payroll setup --
	declare @uniondues float
	declare @welfare float
	declare @medicals float
	declare @ssfEmployee float
	declare @ssfEmployer float
	declare @pfEmployee float
	declare @pfEmployer float
	declare @annualbonus float
	declare @annualleave float
	declare @premShareholder float
	declare @premNonShareholder float
	declare @premWithoutTT float
	declare @taxOnbonus float
	declare @taxOnbasic float
	declare @taxOnovertime float
	declare @taxOnPF float
	declare @taxOntransport float
	declare @onboardallowanceAmt float
	declare @vat float
	declare @getfund float
	declare @nhil float

	declare @dleCompanyStatus varchar(50)
	
	declare @batchNo int
	--declare @approvedOnboardAllowanceAmt float

	--declare @basicRate float
	--declare @overtimeRate float
	--declare @nightRate float
	--declare @basicRateDLE float
	--declare @overtimeRateDLE float
	--declare @nightRateDLE float	

	declare @netTotal float = 0.00
	declare @rptBasic float
	declare @rptIncentive float
	declare @rptTransport float
	declare @rptNight float
	declare @rptGross float
	declare @rptSSFee float
	declare @rptTaxablePay float
	declare @rptTaxPayable float
	declare @rptUnionDues float
	declare @rptWelfare float
	declare @rptMedicals float
	declare @rptPFee float
	declare @rptTaxPF float
	declare @rptDeductions float
	
	set @processedCostSheets = 0

	set @batchNo = (select ISNULL(max(AutoNum),0) from tblApproveMonthly)
	set @batchNo = @batchNo + 1

	-- get approved cost sheets within selected date range --
	select ReqNo into #costsheets from tblStaffMReq where Processed = 0 and Approved=1 and (Adate between @startdate and @enddate)
	select @ReqNo = MIN(ReqNo) from #costsheets
	-- loop through requisition numbers (Cost Sheet)
	while @ReqNo is not null
	begin
		--get Requisition details --
		select @dleCompanyId=DLEcodeCompanyID,@workerId=WorkerID,@tradegroupId=TradegroupID,@tradetypeId=TradetypeID,
			@reportingPointId=ReportpointID,@locationId=locationID,@job=job,@date=date_,@adate=Adate,@preparedby=Preparedby,
			@approved=Approved,@approvedby=Approvedby,@DWkday=DWkday,@DWkend=DWkend,@DTotal=DTotal,@HRWkday=HRWkday,@HRWkend=HRWkend,
			@NWkday=NWkday,@NWkend=NWkend,@Yyyymm=Yyyymm,@PeriodStart=PeriodStart,@PeriodEnd=PeriodEnd,@transport=Transport from tblStaffMReq where ReqNo=@ReqNo

			select @dbWage=DBWage,@hrOtimeWkday=HourOtimeWkday,@hrOtimeWkend=HourOtimeWkend,
			@transportRate_Amt=TransportAmt,@dbWageDLE=DBWageDLE,
			@hrOtimeWkdayDLE=HourOtimeWkdayDLE,@hrOtimeWkendDLE=HourOtimeWkendDLE,
			@subsidy=Subsidy,@ppeMedical=PPEMedical,@bussing=Bussing,
			@bankId=BankID,@bankBranchId=BankBranchId,@bankNumber=BankNumber,@tax=Tax,@chargePremium=ChargePremium,@ezwich=ezwichid,@age=Age,@paymentOption=PaymentOption
			from vwStaffMReqGangRates where ReqNo=@ReqNo and EffectiveDate <= @adate and (EndDate >= @adate or EndDate is null)

			-- begin get payroll setting --
			select @uniondues=UnionDues,@welfare=Welfare,@medicals=Medicals,@ssfEmployee=SSFemployee,@ssfEmployer=SSFemployer,@pfEmployee=ProvidentFundEmployee,
			@pfEmployer=ProvidentFundEmployer,@annualbonus=AnnualBonus,@annualleave=AnnualLeave,@premShareholder=PremiumShareHolder,
			@premNonShareholder=PremiumNonShareHolder,@premWithoutTT=PremiumWithoutTT,@taxOnbonus=TaxOnBonus,@taxOnbasic=TaxOnBasic,
			@taxOnovertime=TaxOnOvertime,@taxOnPF=TaxOnProvidentFund,@taxOntransport=TaxOnTransport,
			@onboardallowanceAmt=OnBoardAllowance,@vat=Vat,@getfund=GetFund,@nhil=NHIL from tblPayrollSetup where EffectiveDate <= @adate and (EndDate >= @adate or EndDate is null)
			-- end get payroll setting --


			-- override @premiumWithoutTT from Payroll Setup with specfic DLE premium --
			select @dleCompanyStatus=Pattern, @premWithoutTT=SharePerc from tblDLECompany where DLEcodeCompanyID=@dleCompanyId

		-- begin calculate net total --
			--set @netTotal = 0
			set @rptBasic = @dbWage * @DTotal
			set @rptIncentive = ((@hrOtimeWkend * @HRWkend) - (@dbWage * @DWkend)) + (@hrOtimeWkday * @HRWkday)
			if (@transport = '*')
				set @rptTransport = @transportRate_Amt * @DTotal
			else
				set @rptTransport = 0
			set @rptNight = ((@dbWage * @NWkday) / 2) + (@dbWage * @NWkend)
			set @rptGross = @rptBasic + @rptIncentive + @rptTransport + @rptNight
			if (@age < 60)
				set @rptSSFee = @ssfEmployee * @rptBasic
			else
				set @rptSSFee = 0
			set @rptTaxablePay = @rptGross - @rptSSFee - @rptNight
			set @rptTaxPayable = @rptTaxablePay * @taxOnbasic
			set @rptUnionDues = @uniondues * @DTotal
			set @rptWelfare = @welfare * @DTotal
			set @rptMedicals = @medicals * @DTotal
			set @rptPFee = @pfEmployee * @rptBasic
			set @rptTaxPF = (@pfEmployer * @rptBasic) * @taxOnPF
			set @rptDeductions = @rptSSFee + @rptTaxPayable + @rptUnionDues + @rptWelfare + @rptMedicals + @rptPFee + @rptTaxPF
			set @netTotal = @rptGross - @rptDeductions
		-- end calculate net total --

			-- begin loan processing --
			declare @loanNo varchar(20) = null
			declare @repayAmount float
			declare @totRepayAmount float = 0.0
			declare @loanBalance float

			declare @monthlyLimit float
			declare @monthlyRepaid float
			declare @monthlyBalance float

			declare @noOfLoans int
			declare @totExpRepayAmount float
			select @noOfLoans = isnull(count(LoanNo),0), @totExpRepayAmount = isnull(sum(RepayAmount),0.0) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate
			if (@noOfLoans > 0)
			begin
				select @loanNo = min(LoanNo) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate
				while @loanNo is not null
				begin
					select @repayAmount = isnull(RepayAmount,0.0), @loanBalance = isnull(LoanBalance,0.0), @monthlyLimit = isnull(MonthlyLimit,0.0) from tblLoans where LoanNo = @loanNo
					select @monthlyRepaid = isnull(sum(RepayAmount),0.0) from tblLoanRepayments where LoanNo = @loanNo and month(ApprovedDate) = month(@adate) and year(ApprovedDate) = year(@adate) and Approved = 1
					
					if (@monthlyLimit > 0) -- monthly limit is set
					begin
						set @monthlyBalance = @monthlyLimit - @monthlyRepaid
						if (@totExpRepayAmount > @netTotal)
							set @repayAmount = floor(@netTotal) / @noOfLoans
						if (@loanBalance <= @repayAmount and @loanBalance <= @monthlyBalance)
							set @repayAmount = @loanBalance
						else if (@monthlyBalance <= @repayAmount and @monthlyBalance > 0)
							set @repayAmount = @monthlyBalance
						else if (@monthlyBalance <= 0.0)
							set @repayAmount = 0.0
					end
					else	-- monthly limit is NOT set
					begin
						if (@totExpRepayAmount > @netTotal)
							set @repayAmount = floor(@netTotal) / @noOfLoans
						if (@loanBalance <= @repayAmount)
								set @repayAmount = @loanBalance
					end
					
					if (@repayAmount > 0)
					begin
						insert into tblLoanRepayments(LoanNo,WorkerId,RepayDate,RepayAmount,ReqNo,CreatedBy,Approved,ApprovedDate,ApprovedBy) 
						values (@loanNo,@workerId,@adate,@repayAmount,@ReqNo,@processedby,1,@adate,@processedby)
						set @totRepayAmount = @totRepayAmount + @repayAmount
					end
						
					--next loan--
					select @loanNo = min(LoanNo) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate and LoanNo > @loanNo
				end
			end				
			--end loan processing --

			-- process Cost Sheet --
			INSERT INTO tblApproveMonthly
                         (AutoNum, ReqNo, DLEcodeCompanyID, WorkerID, TradegroupID, TradetypeID, ReportpointID, LocationID, job, date_, Adate, Preparedby, Approved, Approvedby, Processed,
						  Processedby, DWkday, DWkend, DTotal, HRWkday, HRWkend, NWkday, NWkend, Yyyymm, PeriodStart, PeriodEnd, Transport,
                         Subsidy, PPEMedical, Bussing, UnionDues, Welfare, Medicals, SSFemployee, SSFemployer, ProvidentFundEmployee, ProvidentFundEmployer, AnnualBonus, 
                         AnnualLeave, PremiumShareHolder, PremiumNonShareHolder, PremiumWithoutTT, TaxOnBonus, TaxOnBasic, TaxOnOvertime, TaxOnTransport, TaxOnProvidentFund, BasicRate, OTWkdayRate, OTWkendRate, BasicRateDLE, 
                         OTWkdayRateDLE, OTWkendRateDLE, PresentAge, ProcessedDate, StartDate, EndDate, DLEcompanyStatus, TransportAmount, BankID, BankBranchId, BankNumber, NetTotal, 
                         ezwichid, Vat, GetFund, NHIL, OnBoardAllowance, Loans, PaymentOption)
			VALUES        (@batchNo, @ReqNo, @dleCompanyId, @workerId, @tradegroupId, @tradetypeId, @reportingPointId, @locationId, @job, @date, @adate, @preparedby, @approved, @approvedby, 1,
						 @processedby, @DWkday, @DWkend, @DTotal, @HRWkday, @HRWkend, @NWkday, @NWkend, @Yyyymm, @PeriodStart, @PeriodEnd, @transport,
						@subsidy, @ppeMedical, @bussing, @uniondues, @welfare, @medicals, @ssfEmployee, @ssfEmployer, @pfEmployee, @pfEmployer, @annualbonus, 
						@annualleave, @premShareholder, @premNonShareholder, @premWithoutTT, @taxOnbonus, @taxOnbasic, @taxOnovertime, @taxOntransport, @taxOnPF, @dbWage, @hrOtimeWkday, @hrOtimeWkend, @dbWageDLE, 
						@hrOtimeWkdayDLE, @hrOtimeWkendDLE, @age, GETDATE(), @startdate, @enddate, @dleCompanyStatus, @transportRate_Amt, @bankId, @bankBranchId, @bankNumber, @netTotal,
						@ezwich, @vat, @getfund, @nhil, @OnboardAllowanceAmt, @totRepayAmount, @paymentOption)

		-- update Cost Sheet Status --
		update tblStaffMReq set Processed = 1, Processedby = @processedby where ReqNo = @ReqNo

		set @processedCostSheets = @processedCostSheets + 1 -- count processed cost sheets --

		--next reqno (Cost Sheet)
		select @ReqNo = MIN(ReqNo) from #costsheets where ReqNo > @ReqNo
	end

	-- save audit trail
	if (@processedCostSheets > 0)
	begin
		declare @actiondate datetime
		declare @actiondescription varchar(100)
		set @actiondate = getdate()
		set @actiondescription = 'PROCESS MONTHLY PAYROLL ' + convert(varchar(10),@startdate,103) + ' to ' + convert(varchar(10),@enddate,103)
		exec spAddAuditTrail @actiondate=@actiondate, @actionby=@processedby, @actiondescription=@actiondescription, @actionid=@batchNo
	end
END
GO
/****** Object:  StoredProcedure [dbo].[spProcessWeeklyReq]    Script Date: 7/11/2026 10:57:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spProcessWeeklyReq]
	@startdate datetime,
	@enddate datetime,
	@processedby varchar(50),
	@processedCostSheets int output
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	declare @ReqNo varchar(10)
	declare @workerId varchar(10)
	declare @dleCompanyId int
	declare @tradegroupId int
	declare @tradetypeId int
	declare @reportingPointId int 
	declare @locationId int
	declare @job varchar(50)
	declare @date datetime
	declare @adate datetime
	declare @preparedby varchar(50)
	declare @approved bit
	declare @approvedby varchar(50)
	declare @dbWage float
	declare @dbWageWkend float
	declare @hrOtimeWkday float
	declare @hrOtimeWkend float
	declare @naWkday float
	declare @naWkend float
	declare @transportRate_Amt float
	declare @dbWageDLE float
	declare @dbWageWkendDLE float
	declare @hrOtimeWkdayDLE float
	declare @hrOtimeWkendDLE float
	declare @naWkdayDLE float
	declare @naWkendDLE float
	declare @subsidy float
	declare @ppeMedical float
	declare @bussing float
	declare @bankId int
	declare @bankBranchId int
	declare @bankBranch varchar(50)
	declare @bankNumber varchar(30)
	declare @tax bit
	declare @chargePremium bit
	declare @ezwich varchar(50)
	declare @age int

	declare @subStaffId int
	declare @transdate datetime
	declare @normal float
	declare @overtime float
	declare @night varchar(5)
	declare @weekends varchar(7)
	declare @holiday varchar(7)
	declare @remarks varchar(50)
	declare @vesselId int
	declare @transport char
	declare @onboardallowance bit 
		
	--payroll setup --
	declare @uniondues float
	declare @welfare float
	declare @medicals float
	declare @ssfEmployee float
	declare @ssfEmployer float
	declare @pfEmployee float
	declare @pfEmployer float
	declare @annualbonus float
	declare @annualleave float
	declare @premShareholder float
	declare @premNonShareholder float
	declare @premWithoutTT float
	declare @taxOnbonus float
	declare @taxOnbasic float
	declare @taxOnovertime float
	declare @taxOnPF float
	declare @taxOntransport float
	declare @onboardallowanceAmt float
	declare @vat float
	declare @getfund float
	declare @nhil float

	declare @dleCompanyStatus varchar(50)
	
	declare @batchNo int
	declare @approvedOnboardAllowanceAmt float
	declare @basicRate float
	declare @overtimeRate float
	declare @nightRate float
	declare @basicRateDLE float
	declare @overtimeRateDLE float
	declare @nightRateDLE float	

	declare @netTotal float = 0.00
	declare @rptBasic float
	declare @rptOvertime float
	declare @rptNight float
	declare @rptTransport float
	declare @rptPFee float
	declare @rptSSFee float
	declare @rptTaxBasic float
	declare @rptTaxOvertime float
	declare @rptTaxPF float
	declare @rptTaxTransport float
	declare @rptGross float

	set @processedCostSheets = 0

	set @batchNo = (select ISNULL(max(AutoNum),0) from tblApproveWeekly)
	set @batchNo = @batchNo + 1

	-- get approved cost sheets within selected date range --
	select ReqNo into #costsheets from tblStaffWReq where Processed = 0 and Approved=1 and (Adate between @startdate and @enddate)
	select @ReqNo = MIN(ReqNo) from #costsheets
	-- loop through requisition numbers (Cost Sheet)
	while @ReqNo is not null
	begin
		--get Requisition details --
		select @workerId=WorkerID,@dleCompanyId=DLEcodeCompanyID,@tradegroupId=TradegroupID,@tradetypeId=TradetypeID,
			@reportingPointId=ReportpointID,@locationId=locationID,@job=job,@date=date_,@adate=Adate,@preparedby=Preparedby,
			@approved=Approved,@approvedby=Approvedby from tblStaffWReq where ReqNo=@ReqNo

			select @dbWage=DBWage,@dbWageWkend=DBWageWkend,@hrOtimeWkday=HourOtimeWkday,@hrOtimeWkend=HourOtimeWkend,
			@naWkday=NAWkday,@naWkend=NAWkend,@transportRate_Amt=TransportAmount,@dbWageDLE=DBWageDLE,@dbWageWkendDLE=DBWageWkendDLE,
			@hrOtimeWkdayDLE=HourOtimeWkdayDLE,@hrOtimeWkendDLE=HourOtimeWkendDLE,@naWkdayDLE=NAWkdayDLE,
			@naWkendDLE=NAWkendDLE,@subsidy=Subsidy,@ppeMedical=PPEMedical,@bussing=Bussing,
			@bankId=BankID,@bankBranchId=BankBranchId,@bankBranch=BankBranch,@bankNumber=BankNumber,@tax=Tax,@chargePremium=ChargePremium,@ezwich=ezwichid,@age=Age
			 from vwStaffWReqGangRates where ReqNo=@ReqNo and EffectiveDate <= @adate and (EndDate >= @adate or EndDate is null)

		-- begin get payroll setting --
		select @uniondues=UnionDues,@welfare=Welfare,@medicals=Medicals,@ssfEmployee=SSFemployee,@ssfEmployer=SSFemployer,@pfEmployee=ProvidentFundEmployee,
		@pfEmployer=ProvidentFundEmployer,@annualbonus=AnnualBonus,@annualleave=AnnualLeave,@premShareholder=PremiumShareHolder,
		@premNonShareholder=PremiumNonShareHolder,@premWithoutTT=PremiumWithoutTT,@taxOnbonus=TaxOnBonus,@taxOnbasic=TaxOnBasic,
		@taxOnovertime=TaxOnOvertime,@taxOnPF=TaxOnProvidentFund,@taxOntransport=TaxOnTransport,
		@onboardallowanceAmt=OnBoardAllowance,@vat=Vat,@getfund=GetFund,@nhil=NHIL from tblPayrollSetup where EffectiveDate <= @adate and (EndDate >= @adate or EndDate is null)
		-- end get payroll setting --

			-- override @premiumWithoutTT from Payroll Setup with specfic DLE premium --
			select @dleCompanyStatus=Pattern, @premWithoutTT=SharePerc from tblDLECompany where DLEcodeCompanyID=@dleCompanyId

		-- get transaction dates on requisition --
		select @subStaffId = min(AutoId) from tblSubStaffWReq where ReqNo = @ReqNo
		-- loop through transaction dates --
		while @subStaffId is not null
		begin
			-- get transaction date details --
			select @transdate=TransDate,@normal=Normal,@overtime=Overtime,@night=Night,@weekends=Weekends,@holiday=Holiday,
			@remarks=Remarks,@vesselId=VesselberthID,@transport=Transport,@onboardallowance=OnBoardAllowance from tblSubStaffWReq where AutoId = @subStaffId

			if (@weekends = 'Weekend') --weekend--
			begin
				set @basicRate = @dbWageWkend
				set @overtimeRate = @hrOtimeWkend
				set @nightRate = @naWkend

				set @basicRateDLE = @dbWageWkendDLE
				set @overtimeRateDLE = @hrOtimeWkendDLE
				set @nightRateDLE = @naWkendDLE
			end
			else						--weekday--
			begin
				set @basicRate = @dbWage
				set @overtimeRate = @hrOtimeWkday
				set @nightRate = @naWkday
				
				set @basicRateDLE = @dbWageDLE
				set @overtimeRateDLE = @hrOtimeWkdayDLE
				set @nightRateDLE = @naWkdayDLE
			end

			if (@onboardallowance = 1)
				set @approvedOnboardAllowanceAmt = @onboardallowanceAmt
			else 
				set @approvedOnboardAllowanceAmt = 0

			-- begin calculate net total --
			--set @netTotal = 0
			set @rptBasic = @basicRate * (@normal / 8)
			if (@weekends = 'Weekend')
				set @rptOvertime = ((@overtime + @normal) * @overtimeRate) - @rptBasic
			else
				set @rptOvertime = @overtime * @overtimeRate
			if (@night = 'Night')
				set @rptNight = @nightRate
			else
				set @rptNight = 0
			if (@transport = '*')
				set @rptTransport = @transportRate_Amt + @approvedOnboardAllowanceAmt
			else
				set @rptTransport = 0
			set @rptPFee = @pfEmployee * @rptBasic
			if (@age < 60)
				set @rptSSFee = @ssfEmployee * @rptBasic
			else
				set @rptSSFee = 0
			set @rptTaxBasic = (@rptBasic - @rptSSFee) * @taxOnbasic
			set @rptTaxOvertime = @rptOvertime * @taxOnovertime
			set @rptTaxPF = (@pfEmployer * @rptBasic) * @taxOnPF
			set @rptTaxTransport = @rptTransport * @taxOntransport
			set @rptGross = @rptBasic + @rptOvertime + @rptNight + @rptTransport
			set @netTotal = @rptGross - (@welfare + @medicals + @uniondues + @rptPFee + @rptSSFee + @rptTaxBasic + @rptTaxOvertime + @rptTaxPF + @rptTaxTransport)
			-- end calculate net total --

			-- begin loan processing --
			declare @loanNo varchar(20) = null
			declare @repayAmount float
			declare @totRepayAmount float = 0.0
			declare @loanBalance float

			declare @monthlyLimit float
			declare @monthlyRepaid float
			declare @monthlyBalance float

			declare @noOfLoans int
			declare @totExpRepayAmount float
			select @noOfLoans = isnull(count(LoanNo),0), @totExpRepayAmount = isnull(sum(RepayAmount),0.0) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate
			if (@noOfLoans > 0)
			begin
				select @loanNo = min(LoanNo) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate
				while @loanNo is not null
				begin
					select @repayAmount = isnull(RepayAmount,0.0), @loanBalance = isnull(LoanBalance,0.0), @monthlyLimit = isnull(MonthlyLimit,0.0) from tblLoans where LoanNo = @loanNo
					select @monthlyRepaid = isnull(sum(RepayAmount),0.0) from tblLoanRepayments where LoanNo = @loanNo and month(ApprovedDate) = month(@adate) and year(ApprovedDate) = year(@adate) and Approved = 1
					
					if (@monthlyLimit > 0) -- monthly limit is set
					begin
						set @monthlyBalance = @monthlyLimit - @monthlyRepaid
						if (@totExpRepayAmount > @netTotal)
							set @repayAmount = floor(@netTotal) / @noOfLoans
						if (@loanBalance <= @repayAmount and @loanBalance <= @monthlyBalance)
							set @repayAmount = @loanBalance
						else if (@monthlyBalance <= @repayAmount and @monthlyBalance > 0)
							set @repayAmount = @monthlyBalance
						else if (@monthlyBalance <= 0.0)
							set @repayAmount = 0.0
					end
					else	-- monthly limit is NOT set
					begin
						if (@totExpRepayAmount > @netTotal)
							set @repayAmount = floor(@netTotal) / @noOfLoans
						if (@loanBalance <= @repayAmount)
								set @repayAmount = @loanBalance
					end
					
					if (@repayAmount > 0)
					begin
						insert into tblLoanRepayments(LoanNo,WorkerId,RepayDate,RepayAmount,ReqNo,CreatedBy,Approved,ApprovedDate,ApprovedBy) 
						values (@loanNo,@workerId,@adate,@repayAmount,@ReqNo,@processedby,1,@adate,@processedby)
						set @totRepayAmount = @totRepayAmount + @repayAmount
					end
						
					--next loan--
					select @loanNo = min(LoanNo) from tblLoans where WorkerId = @workerId and LoanBalance > 0 and AutoDeduct = 1 and Approved = 1 and getutcdate() >= ApprovedDate and LoanNo > @loanNo
				end
			end				
			--end loan processing --

			-- process Cost Sheet --
			INSERT INTO tblApproveWeekly
                         (AutoNum, ReqNo, DLEcodeCompanyID, WorkerID, TradegroupID, TradetypeID, ReportpointID, job, date_, Adate, Preparedby, Approved, Approvedby, Processed,
						  Processedby, TransDate, Normal, Overtime, Night, Weekends, Holiday, 
                         Subsidy, PPEMedical, Bussing, UnionDues, Welfare, Medicals, SSFemployee, SSFemployer, ProvidentFundEmployee, ProvidentFundEmployer, AnnualBonus, 
                         AnnualLeave, PremiumShareHolder, PremiumNonShareHolder, PremiumWithoutTT, TaxOnBonus, TaxOnBasic, TaxOnOvertime, TaxOnProvidentFund, BasicRate, OvertimeRate, NightRate, BasicRateDLE, 
                         OvertimeRateDLE, NightRateDLE, PresentAge, ProcessedDate, StartDate, EndDate, TaxOnTransport, DLEcompanyStatus, transport, TransportAmount, VesselberthID, BankID, BankBranchId, BankBranch, BankNumber, NetTotal, 
                         ezwichid, Vat, GetFund, NHIL, OnBoardAllowance, UnionLoan)
			VALUES        (@batchNo, @ReqNo, @dleCompanyId, @workerId, @tradegroupId, @tradetypeId, @reportingPointId, @job, @date, @adate, @preparedby, @approved, @approvedby, 1,
						 @processedby, @transdate, @normal, @overtime, @night, @weekends, @holiday,
						@subsidy, @ppeMedical, @bussing, @uniondues, @welfare, @medicals, @ssfEmployee, @ssfEmployer, @pfEmployee, @pfEmployer, @annualbonus, 
						@annualleave, @premShareholder, @premNonShareholder, @premWithoutTT, @taxOnbonus, @taxOnbasic, @taxOnovertime, @taxOnPF, @basicRate, @overtimeRate, @nightRate, @basicRateDLE, 
						@overtimeRateDLE, @nightRateDLE, @age, GETUTCDATE(), @startdate, @enddate, @taxOntransport, @dleCompanyStatus, @transport, @transportRate_Amt, @vesselId, @bankId, @BankBranchId, @bankBranch, @bankNumber, @netTotal,
						@ezwich, @vat, @getfund, @nhil, @approvedOnboardAllowanceAmt, @totRepayAmount)

			-- next transaction date --
			select @subStaffId = min(AutoId) from tblSubStaffWReq where ReqNo = @ReqNo and  AutoId > @subStaffId
		end

		-- update Cost Sheet Status --
		update tblStaffWReq set Processed = 1, Processedby = @processedby where ReqNo = @ReqNo

		set @processedCostSheets = @processedCostSheets + 1 -- count processed cost sheets --

		--next reqno (Cost Sheet)
		select @ReqNo = MIN(ReqNo) from #costsheets where ReqNo > @ReqNo
	end

	-- save audit trail
	if (@processedCostSheets > 0)
	begin
		declare @actiondate datetime
		declare @actiondescription varchar(100)
		set @actiondate = getdate()
		set @actiondescription = 'PROCESS WEEKLY PAYROLL ' + convert(varchar(10),@startdate,103) + ' to ' + convert(varchar(10),@enddate,103)
		exec spAddAuditTrail @actiondate=@actiondate, @actionby=@processedby, @actiondescription=@actiondescription, @actionid=@batchNo
	end
END
GO
